<div class="container d-flex justify-content-between tamanho p-4">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/brownie.webp" class="card-img-top" alt="...">
        <div class="card-body bg-info-subtle">
          <h5 class="card-title">Mistura para Bolo Brownie Dona Benta 400g</h5>
          <p class="card-text">R$7,49</p>
          <button (click)="Comprar()" class="btn btn-primary container-fluid" >Comprar agora</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/chocotone.webp" class="card-img-top" alt="...">
        <div class="card-body bg-info-subtle">
          <h5 class="card-title">Chocottone Recheio Sabor Trufa Bauducco 450g </h5>
          <p class="card-text">R$17,90</p>
          <button (click)="Comprar()" class="btn btn-primary container-fluid btn-info" >Comprar agora</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/coquinha.webp" class="card-img-top" alt="...">
        <div class="card-body bg-info-subtle">
          <h5 class="card-title">Refrigerante Coca-Cola Sem Açúcar LATA 350ML</h5>
          <p class="card-text">R$2,79</p>
          <button (click)="Comprar()" class="btn btn-primary container-fluid" >Comprar agora</button>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../assets/oreoo.webp" class="card-img-top" alt="...">
        <div class="card-body bg-info-subtle">
          <h5 class="card-title">Biscoito recheado Oreo original multipack 144g</h5>
          <p class="card-text">R$7,69</p>
          <button (click)="Comprar()" class="btn btn-primary container-fluid" >Comprar agora</button>
        </div>
      </div>
</div>
